.container {
  text-align: center;
}

.container h1 {
  color: #fbf0cb;
  font-size: 100px;
  margin-top: 80px;
}

.content {
  display: flex;
  justify-content: center;
}

.left {
  width: 50%;
  margin: 0px;
}
.left h3 {
  color: #fbf0cb;
}

.social-icons {
  display: flex;
  justify-content: center;
}
.social-icons a {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  margin-right: 10px;
  padding: 0.6em 0.8em;
}
.social-icons a img {
  max-width: 100%;
  max-height: 100%;
}
.social-icons button {
  color: white;
  background-color: #d4af37;
}

.image img {
  max-width: 50%;
  height: 50%;
  margin-bottom: 20px;
}

.right {
  max-width: 580px;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.right h2 {
  color: #fbf0cb;
  font-size: 45px;
  margin-bottom: 20px;
  line-height: 52px;
}
.right p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: normal;
  line-height: 25px;
}

@media (max-width: 480px) {
  .container {
    margin: 0;
    flex-direction: column;
  }
  .container h1 {
    font-size: 50px;
  }
  .content {
    margin: 0;
    margin-bottom: 120px;
    display: flex;
    margin-top: 50px;
    flex-direction:column;
    align-items: center;
    justify-content: center;
  }
  .left{
    width: 100%;
  }

  .social-icons{
    margin: 0px;
  }
  .social-icons a img {
    max-width: 100%;
    max-height: 100%;
  }
  .social-icons button {
    color: white;
    background-color: #d4af37;
    padding: 0 0.5em;
  }

  .right{
    margin: 0;
    margin-top: 30px;
    width: 100%;
  }
  .right h2 {
    color: #fbf0cb;
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 38px;
  }
  .right p {
    line-height: 30px;
    font-size: 14.5px;
  }
  .image img {
    max-width: 80%;
    height: 80%;
    margin-bottom: 20px;
  }
}


@media (prefers-color-scheme: light) {
  
  .selected a{
    color: white;
  }
  .container h1{
   color: #646464;
  }

  .container h2{
    color: #646464;
   }

  .left h3{
    color: #646464;
   }
  .social-icons img{
    filter: invert(1);
  }
  .left a{
    background-color: #646464;
  }
}
